header{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    max-height: 64px;
    font-size: larger;
}

header img{
    max-width: 15vw;
}

header p, .icon-wrapper{
    margin: 0 0.8rem;
    height: 64px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.nav-center{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
}

.header-right{
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 50px;
}

header p:hover, .icon-wrapper:hover {
    background-color: #6B7280;
    border-bottom: solid red 5px;
}